<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Author</title>
</head>
<body>
    <h2>{{ data.author.user.username }}'s Recipes</h2>
        <ul>
            {% for item in data.recipes %}
            <li>
                <a href='/{{ data.author.id }}/{{ item.title }}'>{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <h3>
            <a href='/'>Homepage</a>
        </h3>
</body>
</html>